<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I'm currently an Engineer at
      <a class="underline-link" href="https://reverieinc.com/" target="_blank">Reverie Language Technologies</a> building API's for the web with some awesome people. It's been 2 years since I graduated from
      <a class="underline-link" href="https://www.iiitdmj.ac.in/" target="_blank">IIITDM Jabalpur</a>. During my graduation period I got to work as an intern with 
      <a class="underline-link" href="https://www.truebil.com/" target="_blank">Truebil</a> and continued with the same company after my graduation for an year.
    </p>

    <p>
      As a software engineer, I enjoy developing softwares specifically back-end, combining my technical skills with my OCD to
      build a more efficient and optimized code. My aim is to always build applications which are scalable and reaching majority
      of the internet users thereby bringing a change.
    </p>

    <p>
      <strong>When I'm not in front of a computer screen</strong>, I'm probably travelling, socializing with my fellow peers, 
      or crossing off another item on my bucket list.
    </p>

    <!-- {% include employment-status.html %} -->
  </div>
</section>
