<section class="section featured-projects">
  <div class="section__title">Featured Projects</div>
  <div class="section__content">
    <div class="project">
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="">NodeJS | Golang | Scrapy </a>
        </div>
        <p>
          <li>
            Developed API's in NodeJS which communicates with the mongoDB dealing with bulk data used for the translations,
            storing the translation pairs, giving the client an option for editing with suggestions of the strings. Updating 
            the clients website completely into 11 indian languages. and an oppurtunity to update the fontsize for some languages 
            and block translations in part of the website too.
          </li> 
          <li>
            Built a backend with Golang in communicating with the Database and sending the data to the front-end,
            queries built using prisma which is built on top of GraphQL hereby saves repetitive CRUD boilerplate and increases type safety.
            The Client has the option of deleting webpages, add new webpages to translation pipeline
          </li>
          <li>
            worked on various scrapers - Scrapyd, Beautifulsoup etc.. using the headless render fetching of the URLs of the complete website,
            getting uniques words and sentences across the whole website and getting the wordcount and all the unique sentences across the site.
          </li>
        </p>
      </figcaption>
    </div>

    <div class="project">
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="">Django Rest | Redis | Firebase</a>
        </div>
        <p>
          <li>
            Optimized and developed new APIs of Truebil’s Progressive Web App which is now part of Google Case Study. Achieved Avg
            response time of 51ms from 180ms. Resulting 80% increase in revenue-to-marketing spend. (Django-REST-Framework, Mysql
            5.7, Redis).
          </li> 
          <li>
            Architect redis caching layer of backend auction-app api, which resulted in serving 66.94 Req/S from 12.73 Req/S. EC2 instance
            consumption was reduced by 57% and 160% improvement in mysql cpu utilization.
          </li>
          <li>
            Made Loan Management easier. With one click loan approval by integrating with HDFC and using the API where the buyers can
            easily submit their personal and employment details and get the loan details right away. The Loan request TAT was reduced
            from 7days to 4min.
          </li>
          <li>
            Added Firebase notification service in the auction app which made the auction app bidding and notifying users easy.
            Implemented backend of truebil auction app. Integrated with firebase realtime Database for live bidding(DRF,mysql)
          </li>
        </p>
      </figcaption>
    </div>

    <div class="project">
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="">ReactJS | CakePHP</a>
        </div>
        <p>
          <li>
            Worked on a Progressive Web App for Truebil. Where in the User interaction was made easy and gave and in app experience.
            Implemented the filters feature and the FOMO and UTM data integration for tracking users.
          </li>
          <li>
            Used React JS for templating for faster compilation and developing reusable components.
          </li>
          <li>
            Developed a seller page where the sellers can fill the details of the car and get the price quote (using data science
            API) and see the journey of the car. This increased the user interaction with the website.
          </li>
        </p>
      </figcaption>
    </div>

    <div class="project">
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="javascript:void(0)" target="_blank">Android Development</a>
        </div>
        <p>
          <li>
            Developed an android app by collaborating with the employees of the HP Company which included an app which is used in
            sending messaging through Bluetooth connectivity.
          </li>
          <li>
            A quizzing app and an app which stores the data based on the location of
          the person. Which can be seen worldwide by tapping on the place on the map. This included integration with the google maps.
          </li></p>
      </figcaption>
    </div>
  </div>
</section>
